body {
    background-color: rgb(255,255,255);
    color: #205267;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 20px 20px;
    padding: 0;
}

h2 {
    color: #205267;
    font-size: 1.8em;
}

#container {
    margin:0 auto;
}    

@media (min-width: 960px) {
    .toolbar {
        display: flex;
    }

    #container {
        margin:0 auto;
        width: 960px;
    }  
    
    #container .language {
        width: 400px;
    }
}
